<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
</head>
<body>
<header>
    <h2>Login</h2>
</header>
<form action="" method="POST">
    <div class="input-box">
        <input id="restTable" type="text" name="restTable" placeholder="남은자리수입력하세요">
        <label for="restTable">남은자리수 </label>
    </div>
    <input type="submit" value="입력">

    <p>
        <a class="btn btn-lg btn-secondary" th:href="@{/store/tableCount/{storeId}/waitinglist(storeId=${storeId})}">대기 현황</a>
    </p>
</form>
</body>
</html>

