@import "reset.css";
@import "variables.css";

.welcome-header {
  text-align: center;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 80px;
  font-size: 25px;
  font-weight: 600;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}
#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 21px;
  margin-bottom: 25px;
}
#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 18px;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input[type="submit"] {
  background-color: var(--skyblue);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.btn-signup {
  background-color: var(--skyblue);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
  margin: 0px 30px;
  font-size: 21px;
  text-align: center;
  height: 24px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.chioice-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}
.chioice-form__label {
  padding: 10px 0px;
}
