.user-info {
  font-size: 30px;
  font-weight: 600;
}
.user-name {
  padding: 30px;
}
.user-bar-component {
  padding: 30px;
}
.user-bar-text {
    font-size: 20px;
    font-weight: 400;
  padding: 20px;
}
.bar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
