<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" type="image/x-icon" href="../assets/img/restaurant.jpg" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
<!--
      유저 이름
  -->
<div class="bar">
    <a href="userInfo.html" class="user-info">
        <h2 class="user-name" th:text="${user.name}">유저이름</h2>
    </a>
</div>

<div class="bar">
    <a
            class="user-bar-component"
            href="currentWaitingList.html"
            th:href="@{currentWaitingList}"
    >
        <div class="user-bar-text">대기 내역</div>
    </a>
</div>

<nav class="nav">
    <ul class="nav__list">
        <li class="nav__btn">
            <a class="nav__link" href="userHome.html" th:href="@{/user}">
                <i class="fa-solid fa-house fa-2x"></i>
            </a>
        </li>
        <li class="nav__btn">
            <a class="nav__link" href="search.html" th:href="@{/user/search}">
                <i class="fa-solid fa-magnifying-glass fa-2x"></i>
            </a>
        </li>
        <li class="nav__btn">
            <a class="nav__link" href="favorite.html" th:href="@{/user/favorite}">
                <i class="fa-solid fa-heart fa-2x"></i>
            </a>
        </li>
        <li class="nav__btn">
            <a class="nav__link" href="info.html" th:href="@{/user/info}">
                <i class="fa-solid fa-user fa-2x"></i>
            </a>
        </li>
    </ul>
</nav>

<script
        src="https://kit.fontawesome.com/ffa043e739.js"
        crossorigin="anonymous"
></script>
</body>
</html>
