<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/x-icon" href="../assets/img/restaurant.jpg" />
    <link rel="stylesheet" href="/css/styles.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>웨이팅 서비스</title>
</head>
<body>
<form class="search-form" action="" method="get">
    <input
            class="search-form__text"
            type="text"
            name="keyword"
            placeholder="지역, 매장명, 카테고리"
    />
    <button type="submit" class="search-form__btn">
        <i class="fa-solid fa-magnifying-glass"></i>
    </button>
</form>
<div class="content-wrapper">
    <!-- Content -->

    <!--최근 검색어-->
    <div class="container-xxl flex-grow-1 container-p-y">

        <div class="mb-4 order-0">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title text-primary fw-bold">최근 검색어</h5>
                </div>
                <div class="card-body" >
                    <div class="mb-2" th:each="keyword:${keywords}">
                        <a th:text="${keyword}" href="#" th:href="@{?keyword={keyword}(keyword=${keyword})}">망원동</a>
                    </div>

                </div>


            </div>
        </div>



    </div>
    <!-- /최근 검색어-->
</div>








<nav class="nav">
    <ul class="nav__list">
        <li class="nav__btn">
            <a class="nav__link" href="userHome.html" th:href="@{/user}">
                <i class="fa-solid fa-house fa-2x"></i>
            </a>
        </li>
        <li class="nav__btn">
            <a class="nav__link" href="search.html" th:href="@{/user/search}">
                <i class="fa-solid fa-magnifying-glass fa-2x"></i>
            </a>
        </li>
        <li class="nav__btn">
            <a class="nav__link" href="favorite.html" th:href="@{/user/favorite}">
                <i class="fa-solid fa-heart fa-2x"></i>
            </a>
        </li>
        <li class="nav__btn">
            <a class="nav__link" href="info.html" th:href="@{/user/info}">
                <i class="fa-solid fa-user fa-2x"></i>
            </a>
        </li>
    </ul>
</nav>

<script
        src="https://kit.fontawesome.com/ffa043e739.js"
        crossorigin="anonymous"
></script>
</body>
</html>
